# Telegram Bot API Zugangsdaten
# Bekommt man beim erstellen des Bots
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE # Bekommt man beim erstelen des Bots in Telegram

# test_telegram.py ausführen, eine Nachricht in der Grupp mit Bot schreiben
# Chat-ID beginnt meistens mit -
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID_HERE 